<%= form_for(@company, :html => {:multipart => true, :class => 'form-horizontal'}) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="well">
    Submit your company to be included on New Work Austin. Your submission will be held until it can be approved. ** INSERT SUBMISSION STANDARDS HERE **
  </div>
  <fieldset>
    <legend>Company</legend>

  <div class="well">
  <div class="control-group clearfix">
    <%= f.label :name %>
    <div class="input">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group clearfix">
    <%= f.label :description %>
    <div class="input">
      <%= f.text_field :description %>
    </div>
  </div>
  <% if admin_signed_in? %>
    <div class="control-group clearfix">
      <%= f.label :hide %>
      <div class="input">
        <%= f.check_box :hide %>
      </div>
    </div>
  <% else %>
    <%= f.hidden_field :hide %>
  <% end %>
  <div class="control-group clearfix">
    <%= f.label :logo %>
    <div class="input">
      <%= f.file_field :logo %>
      <div class="smallhelp">200x200 minimum, rectangular is best</div>
    </div>
  </div>
  </div>
    <div id="company_urls">
      <fieldset>
      <legend>Urls</legend>
      <div class="container well">
      <%= f.nested_fields_for :company_url do |ci_form| %>
        <div class="item">
        <div class="clearfix control-group">
          <%= ci_form.label :url %>
          <div class="input">
            <%= ci_form.text_field :url, :class => "span3"%>
            <a href="#" class="remove btn small btn-danger">remove</a>
          </div>
        </div>

        <%= ci_form.hidden_field :id %>
        <%= ci_form.hidden_field :_destroy %>
        </div>
      <% end %>
      </div>
      </fieldset>
      <a href="#" class="add btn small btn-success">Add Url</a>
    </div>
    <div class="actions">
      <%= f.submit "Save and Crop", :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
<script type="text/javascript">
$(document).ready(function(e) {
  $('FORM').nestedFields();
});
</script>

