
<p>
  <b>Name:</b>
  <%=h @company.name %>
</p>

<p>
  <b>Raw Logo:</b>
  <%= image_tag @company.logo.url(:original), :id => 'cropbox' %>
  <b>Preview:</b>
<div style="width:<%= Company::LOGO_NW %>px;height:<%= Company::LOGO_NH %>px;overflow:hidden">
  <%= image_tag @company.logo.url(:original), :id => 'preview' %>
</div>
</p>

<%= form_for @company do |f| %>
  <%= f.hidden_field :crop, :id => 'crop', :value => "true" %>
  <%= f.hidden_field :crop_x, :id => 'crop_x' %>
  <%= f.hidden_field :crop_y, :id => 'crop_y' %>
  <%= f.hidden_field :crop_w, :id => 'crop_w' %>
  <%= f.hidden_field :crop_h, :id => 'crop_h' %>
  <%= f.submit "Crop Logo", :class => "btn primary"  %>
<% end %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>

<script language="Javascript">

function showPreview(coords)
{
        var rx = <%= Company::LOGO_NW %> / coords.w;
        var ry = <%= Company::LOGO_NH %> / coords.h;
        
        $('#preview').css({
                width: Math.round(rx * <%= @company.logo_geometry(:original).width.to_i %>) + 'px',
                height: Math.round(ry * <%= @company.logo_geometry(:original).height.to_i %>) + 'px',
                marginLeft: '-' + Math.round(rx * coords.x) + 'px',
                marginTop: '-' + Math.round(ry * coords.y) + 'px'
        });
  $('#crop_x').val(Math.round(coords.x));
  $('#crop_y').val(Math.round(coords.y));
  $('#crop_w').val(Math.round(coords.w));
  $('#crop_h').val(Math.round(coords.h));
}

$(function() {
  $('#cropbox').Jcrop({
      boxWidth: <%= Company::LOGO_NW %> * 2, 
      boxHeight: <%= Company::LOGO_NH %> * 2,
      onSelect: showPreview,
      onChange: showPreview,
      setSelect:   [ 0, 0, <%= Company::LOGO_NW %>, <%= Company::LOGO_NH %> ],
      aspectRatio: <%= Company::LOGO_NW %>/<%= Company::LOGO_NH %>
    });
});

</script>
