.container
  .content
    .page-header
      = image_tag  'logo_small.png', :id => 'logo'
      %h1 New Work Austin
    .row
      .span12
        - @companies.each do |company|
          .row
            .span4.menu-img.clearfix
              - if company.logo.url(:normal).empty?
                = image_tag  'blank_logo.png', :class => 'logo'
              - else
                = image_tag  company.logo.url(:normal), :class => 'logo'
            .span8
              .company-name
                %span.dyntextval
                  = company.name
              .description
                = company.description
              .links
                - company.company_url.each do |url|
                  = url.url
        %table
          %tr
            %th Name
            %th Description
            %th
            %th
            %th
          - @companies.each do |company|
            %tr
              %td= company.name 
              %td= company.description 
              %td= link_to 'Show', company 
              %td= link_to 'Edit', edit_company_path(company) 
              %td= link_to 'Delete', company, confirm: 'Are you sure you want to delete this?', method: :delete
      .span4              
        .well
          %h5 Austin Chronicle
          %ul
            %li Story 1
            %li Story 2
            %li Story 3
          %h5 Austin Theater Review
          %ul
            %li Story 1
            %li Story 2
            %li Story 3
               

