.row
  #notice
    = notice
.row
  .span6.imgcol
    = image_tag  @company.logo.url(:normal), :id => 'logo', :class => 'menu-img'
  .span10
    %h1
      = @company.name
    %p
      = @company.description
    %ul
      - @company.company_url.each do |url|
        %li
          %a{:href => url.url, :target => '_new'}
            =url.url
- if admin_signed_in?
  .row.actionbar
    = link_to 'Edit', edit_company_path(@company), {:class => "btn"}
