.row
  #notice
    = notice
.row
  .span4.imgcol
    = image_tag  @company.logo.url(:normal), :id => 'logo', :class => 'menu-img'
  .span8
    %h1
      = @company.name
    %p
      = @company.description
    %ul
      - @company.company_url.each do |url|
        %li
          %a{:href => url.url, :target => '_new'}
            =url.url
  .span4
    .well
      %h5 News
      %ul
        - @feed_items.each do |item|
          %li
            %a{:href => item.url, :target => '_new'}
              = item.title

- if admin_signed_in?
  .row.actionbar
    = link_to 'Edit', edit_company_path(@company), {:class => "btn"}
